@import "../../css/variables.module.scss";

.excalidraw {
  .FontPicker__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
    padding: 0.25rem;

    .buttonList {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      min-height: var(--lg-button-size);

      label, button {
        flex: 1 0 auto;
        min-width: calc(var(--lg-button-size) + 0.5rem);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    @include isMobile {
      max-width: calc(2rem + 4 * var(--default-button-size));
    }
  }
}
